body {
    width: 1440px;
    height: 2839px;
    left: 3px;
    top: 0px;
    background: #F6F5F3;
}

/* Container 1 ........*/

.container1 {
    position: absolute;
    width: 717px;
    height: 613px;
    left: 2px;
    top: 0px;
    background: rgba(252, 253, 254, 0.45);
}

.c1-text2 {
    position: absolute;
    width: 270px;
    height: 89.46px;
    left: 255px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    text-align: left;
    line-height: 42px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.rectangle {
    position: absolute;
    width: 308px;
    height: 179.67px;
    left: 255px;
    top: 124px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.c1-img1 {
    position: absolute;
    width: 87.82px;
    height: 117.24px;
    left: 111px;
    top: 31px;
}

.c1-img2 {
    position: absolute;
    width: 24px;
    height: 30.89px;
    left: 142.88px;
    top: 89.69px;
    border-radius: 0.881334px;
}

.c1-btn1 {
    position: absolute;
    width: 107px;
    height: 22.37px;
    left: 341px;
    top: 327.7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #3C64B1;

}

.c1-text3 {
    position: absolute;
    width: 181px;
    height: 22.37px;
    left: 307px;
    top: 367.1px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.c1-para {
    position: absolute;
    width: 431px;
    height: 65px;
    left: 195px;
    top: 404px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    letter-spacing: 0.2px;
    color: #000000;
}

.c1-btn2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    position: absolute;
    width: 105px;
    left: 187px;
    top: 542px;
    background: #3C64B1;
    border-radius: 4px;
    border-style: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.c1-btn3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    position: absolute;
    width: 154px;
    left: 472px;
    top: 542px;
    background: #27575A;
    border-radius: 4px;
    border-style: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}


/* Container 2 ........*/

.text1 {
    position: absolute;
    width: 426px;
    height: 84px;
    left: 746px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 42px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.p1 {
    position: absolute;
    height: 44.73px;
    left: 748px;
    top: 154.65px;
    font-family: Robto;
    font-style: norma;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #27575A;
    opacity: 0.05;
}

.p2 {
    position: absolute;
    width: 155px;
    height: 44.73px;
    left: 748px;
    top: 203.83px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #27575A;
}

.p3 {
    position: absolute;
    width: 133px;
    height: 44.73px;
    left: 748px;
    top: 252.76px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #1511DF;
    opacity: 0.05;
}

#search {
    position: absolute;
    height: 42.60px;
    width: 474px;
    left: 728px;
    top: 402px;
    /* Light / White */
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    box-sizing: border-box;
    border-radius: 7px;
}

.c2-btn4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    position: absolute;
    width: 97px;
    height: 42.6px;
    left: 1105px;
    right: 16.53%;
    top: 402px;
    background: #3C64B1;
    border-radius: 0px 7px 7px 0px;
    border-style: none;
}

.placeholder {
    position: absolute;
    width: 366px;
    height: 19.17px;
    left: 744px;
    top: 403.72px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    /* or 180% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
}

.box1 {
    position: absolute;
    height: 83.07px;
    width: 151px;
    left: 731px;
    top: 472px;
    border-radius: 8px;
    background: #FFFFFF;
    border-radius: 8px;
}

.p-text1 {
    position: absolute;
    width: 79px;
    height: 18px;
    left: 26px;
    top: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #3C64B1;
}

.box2 {
    position: absolute;
    height: 83.07px;
    width: 151px;
    left: 891px;
    top: 472px;
    border-radius: 8px;
    background: #7386AB;
    border-radius: 8px;
}

.p-text2 {
    position: absolute;
    width: 79px;
    height: 18px;
    left: 26px;
    top: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.box3 {
    position: absolute;
    height: 83.07px;
    width: 151px;
    left: 1051px;
    top: 472px;
    border-radius: 8px;
    background: #FFFFFF;
    border-radius: 8px;
}

.p-text3 {
    position: absolute;
    width: 79px;
    height: 18px;
    left: 26px;
    top: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #3C64B1;
}

/* .........Container3......... */

.container3 {
    position: absolute;
    width: 1438px;
    height: 626px;
    left: 1px;
    top: 592px;
    background: #FFFFFF;
}

.c3-heading {
    position: absolute;
    width: 920px;
    height: 40px;
    left: 259px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
}

.c3-img1 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 341px;
    top: 135px;
}

.c3-p1 {
    position: absolute;
    width: 313px;
    height: 24px;
    left: 220px;
    top: 222px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    text-align: center;
    letter-spacing: 0.1px;
    color: #41529F;
}

.c3-para1 {
    position: absolute;
    width: 313px;
    height: 262px;
    left: 220px;
    top: 261px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    text-align: center;
    letter-spacing: 0.2px;
    /* Light / Black */
    color: #373F41;
}

.c3-img2 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 687px;
    top: 135px;
}

.c3-p2 {
    position: absolute;
    width: 313px;
    height: 24px;
    left: 563px;
    top: 222px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    text-align: center;
    letter-spacing: 0.1px;
    color: #41529F;
}

.c3-para2 {
    position: absolute;
    width: 313px;
    height: 262px;
    left: 563px;
    top: 261px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    text-align: center;
    letter-spacing: 0.2px;
    /* Light / Black */
    color: #373F41;
}

.c3-img3 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1029px;
    top: 135px;
}

.c3-p3 {
    position: absolute;
    width: 313px;
    height: 24px;
    left: 906px;
    top: 222px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    text-align: center;
    letter-spacing: 0.1px;
    color: #41529F;
}

.c3-para3 {
    position: absolute;
    width: 313px;
    height: 262px;
    left: 906px;
    top: 261px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    text-align: center;
    letter-spacing: 0.2px;
    /* Light / Black */
    color: #373F41;
}

.c3-img4 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 341px;
    top: 368px;
}

.c3-p4 {
    position: absolute;
    width: 313px;
    height: 24px;
    left: 220px;
    top: 460px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    text-align: center;
    letter-spacing: 0.1px;
    color: #41529F;
}

.c3-para4 {
    position: absolute;
    width: 313px;
    height: 262px;
    left: 220px;
    top: 500px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    text-align: center;
    letter-spacing: 0.2px;
    /* Light / Black */
    color: #373F41;
}

.c3-img5 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 686px;
    top: 366px;
}

.c3-p5 {
    position: absolute;
    width: 313px;
    height: 24px;
    left: 563px;
    top: 460px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    text-align: center;
    letter-spacing: 0.1px;
    color: #41529F;
}

.c3-para5 {
    position: absolute;
    width: 313px;
    height: 262px;
    left: 563px;
    top: 500px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    text-align: center;
    letter-spacing: 0.2px;
    /* Light / Black */
    color: #373F41;
}

.c3-img6 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1030px;
    top: 366px;
}

.c3-p6 {
    position: absolute;
    width: 313px;
    height: 24px;
    left: 906px;
    top: 460px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    text-align: center;
    letter-spacing: 0.1px;
    color: #41529F;
}

.c3-para6 {
    position: absolute;
    width: 313px;
    height: 262px;
    left: 906px;
    top: 500px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    text-align: center;
    letter-spacing: 0.2px;
    /* Light / Black */
    color: #373F41;
}

/* ..........CONTAINER4........... */

.container4 {
    position: absolute;
    width: 1438px;
    height: 647px;
    left: 1px;
    top: 1218px;
    background: #F9F9F9;
}

.c4-heading {
    position: absolute;
    width: 989px;
    left: 227px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    /* or 111% */
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
}

.img-box {
    position: absolute;
    width: 380px;
    height: 187px;
    left: 208px;
    top: 221px;
    background: #F7F5F5;
}

.c4-text {
    position: absolute;
    width: 48px;
    height: 22px;
    left: 147px;
    top: 52px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */
    text-align: center;
    letter-spacing: 0.3px;
    color: #000000;
}

.c4-circles {
    position: absolute;
    width: 53px;
    height: 13px;
    left: 371px;
    top: 440px;
}

.c4-box1 {
    position: absolute;
    width: 271px;
    height: 195px;
    left: 634px;
    top: 134px;
    background: #FFFDFD;
    border-radius: 12px;
}

.c4-img1 {
    position: absolute;
    height: 36px;
    width: 39.99px;
    left: 11px;
    top: 8px;
    border-radius: 0px;
}

.c4-para1 {
    position: absolute;
    width: 243;
    height: 111px;
    left: 8px;
    right: 12px;
    top: 33px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 122% */
    letter-spacing: 0.3px;
    /* Gray 1 */
    color: #333333;
}

.c4-box2 {
    position: absolute;
    width: 271px;
    height: 195px;
    left: 917px;
    top: 134px;
    background: #FBFCFF;
    border-radius: 12px;
}

.c4-img2 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 0px;
    top: 0px;
}

.c4-para2 {
    position: absolute;
    width: 238;
    height: 110px;
    left: 8px;
    right: 12px;
    top: 43px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 122% */
    letter-spacing: 0.3px;
    /* Gray 1 */
    color: #333333;
}

.c4-box3 {
    position: absolute;
    width: 271px;
    height: 195px;
    left: 633px;
    top: 337px;
    background: #FFFDFD;
    border-radius: 12px;
}

.c4-img3 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 11px;
    top: 13px;
}

.c4-para3 {
    position: absolute;
    width: 255;
    height: 120px;
    left: 8px;
    right: 12px;
    top: 53px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 122% */
    letter-spacing: 0.3px;
    /* Gray 1 */
    color: #333333;
}

.c4-box4 {
    position: absolute;
    width: 271px;
    height: 195px;
    left: 916px;
    top: 337px;
    background: #FFFDFD;
    border-radius: 12px;
}

.c4-img4 {
    position: absolute;
    height: 48px;
    width: 48px;
    left: 11px;
    top: 13px;
    border-radius: 0px;
}

.c4-para4 {
    position: absolute;
    height: 119px;
    left: 8px;
    right: 13px;
    top: 51px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 122% */
    letter-spacing: 0.3px;
    /* Gray 1 */
    color: #333333;
}

.c4-btn {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 30px;
    width: 262px;
    height: 50px;
    left: 918px;
    top: 546px;
    background: #3C64B1;
    border-radius: 4px;
    border-style: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

/* ......CONTAINER5....... */

.container5 {
    position: absolute;
    width: 1438px;
    height: 733px;
    left: 0px;
    top: 1865px;
    background: #F1F1F1;
}

.c5-heading {
    position: absolute;
    width: 989px;
    left: 227px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    /* or 111% */
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
}

.c5-img-box {
    position: absolute;
    width: 380px;
    height: 187px;
    left: 212px;
    top: 221px;
    background: #F7F5F5;
}

.c5-text {
    position: absolute;
    width: 48px;
    height: 22px;
    left: 147px;
    top: 52px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */
    text-align: center;
    letter-spacing: 0.3px;
    color: #000000;
}

.c5-circles {
    position: absolute;
    width: 53px;
    height: 13px;
    left: 375px;
    top: 440px;
}

.c5-box1 {
    position: absolute;
    width: 271px;
    height: 227px;
    left: 636px;
    top: 134px;
    background: #FFFDFD;
    border-radius: 12px;
}

.c5-img1 {
    position: absolute;
    height: 48px;
    width: 48px;
    left: 8px;
    top: 11px;
    border-radius: 0px;
}

.c5-para1 {
    position: absolute;
    width: 243;
    height: 111px;
    left: 8px;
    right: 12px;
    top: 53px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 122% */
    letter-spacing: 0.3px;
    /* Gray 1 */
    color: #333333;
}

.c5-box2 {
    position: absolute;
    width: 271px;
    height: 227px;
    left: 917px;
    top: 134px;
    background: #FFFDFD;
    border-radius: 12px;
}

.c5-img2 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 11.6px;
    top: 11px;
}

.c5-para2 {
    position: absolute;
    width: 238;
    height: 110px;
    left: 8px;
    right: 12px;
    top: 53px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 122% */
    letter-spacing: 0.3px;
    /* Gray 1 */
    color: #333333;
}

.c5-box3 {
    position: absolute;
    width: 271px;
    height: 227px;
    left: 633px;
    top: 376px;
    background: #FFFDFD;
    border-radius: 12px;
}

.c5-img3 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 11px;
    top: 13px;
}

.c5-para3 {
    position: absolute;
    width: 255;
    height: 120px;
    left: 8px;
    top: 53px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 122% */
    letter-spacing: 0.3px;
    /* Gray 1 */
    color: #333333;
}

.c5-box4 {
    position: absolute;
    width: 271px;
    height: 227px;
    left: 921px;
    top: 376px;
    background: #FFFDFD;
    border-radius: 12px;
}

.c5-img4 {
    position: absolute;
    height: 48px;
    width: 48px;
    left: 13px;
    top: 11px;
    border-radius: 0px;
}

.c5-para4 {
    position: absolute;
    width: 250px;
    height: 120px;
    left: 11px;
    right: 13px;
    top: 51px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    /* or 122% */
    letter-spacing: 0.3px;
    /* Gray 1 */
    color: #333333;
}

.c5-btn {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 30px;
    width: 262px;
    height: 50px;
    left: 918px;
    top: 632px;
    background: #88A5A7;
    border-radius: 4px;
    border-style: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}


/* ......CONTAINER6...... */

.container6 {
    position: absolute;
    width: 1438px;
    height: 213px;
    left: 2px;
    top: 2597px;
    background: #F9F8F6;
}

.c6-logo1 {
    position: absolute;
    width: 109px;
    height: 61.4px;
    left: 254px;
    top: 77px;
}

.c6-logo2 {
    position: absolute;
    width: 90.75px;
    height: 58.42px;
    left: 463px;
    top: 79px;
}

.c6-logo3 {
    position: absolute;
    width: 53.22px;
    height: 74.44px;
    left: 654px;
    top: 71px;
}

.c6-logo4 {
    position: absolute;
    width: 63.67px;
    height: 63.67px;
    left: 807px;
    top: 76px;
}

.c6-logo5 {
    position: absolute;
    width: 104.68px;
    height: 92.67px;
    left: 971px;
    top: 61px;
}

.c6-logo6 {
    position: absolute;
    width: 41.7px;
    height: 62.33px;
    left: 1176px;
    top: 77px;
}