body {
    width: 1440px;
    height: 838px;
    background: #FFFFFF;
}

.pf {
    position: absolute;
    width: 296px;
    height: 18px;
    left: 575px;
    top: 34px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.dashboard {
    position: absolute;
    width: 1000px;
    height: 42px;
    top: 69px;
    /* right: 220px; */
    bottom: 727px;
    left: 220px;
    right: 220px;
    background: #F5FCFF;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash1 {
    position: absolute;
    width: 82px;
    height: 18px;
    left: 11px;
    top: -13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #3C64B1;
}

.dash2 {
    position: absolute;
    width: 172px;
    height: 18px;
    left: 93px;
    top: -12px;
    font-family: Roboto !important;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
}

.container1 {
    position: absolute;
    width: 1000px;
    height: 677px;
    left: 220px;
    right: 220;
    top: 120px;
    bottom: 41px;
    /* Light / White */
    background: #FFFFFF;
    /* Light / Divider */
    border: 1px solid #E2E5E6;
    border-radius: 8px;
}

.info {
    position: absolute;
    width: 865px;
    height: 49px;
    left: 68px;
    top: 22px;
    right: 67px;
    bottom: 606px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    letter-spacing: 0.2px;
    color: #000000;
}

.radio {
    position: absolute;
    width: 207px;
    height: 51px;
    left: 76px;
    top: 107px;
}

#id1 {
    position: absolute;
    top: 100px;
    left: 76px;
}

.star {
    position: absolute;
    width: 6.24px;
    height: 16.06px;
    left: 97px;
    top: -5px;
}

#individual {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 72px;
    top: 140px;
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    filter: grayscale();
    box-sizing: border-box;
    border-radius: 12px;
}

.indiv {
    position: absolute;
    width: 73px;
    height: 16px;
    left: 99px;
    top: 144px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
}

#company {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 186px;
    top: 140px;
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    filter: grayscale();
    box-sizing: border-box;
    border-radius: 12px;
}

.compn {
    position: absolute;
    width: 73px;
    height: 16px;
    left: 213px;
    top: 144px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.star1 {
    position: absolute;
    width: 6.24px;
    height: 16.06px;
    left: 80px;
    top: -5px;
}

.fname1 {
    position: absolute;
    width: 148px;
    height: 16px;
    left: 76px;
    top: 187px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

#name1 {
    position: absolute;
    width: 317.57px;
    height: 35.68px;
    left: 76px;
    top: 208.3px;
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    box-sizing: border-box;
    border-radius: 7px;
}

.fname2 {
    position: absolute;
    width: 148px;
    height: 16px;
    left: 606.29px;
    top: 187px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

#name2 {
    position: absolute;
    width: 317.57px;
    height: 35.68px;
    left: 606px;
    top: 208.3px;
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    box-sizing: border-box;
    border-radius: 7px;
}

.fname3 {
    position: absolute;
    width: 148px;
    height: 16px;
    left: 76.13px;
    top: 273px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

#name3 {
    position: absolute;
    width: 317.57px;
    height: 35.68px;
    left: 76px;
    top: 294.3px;
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    box-sizing: border-box;
    border-radius: 7px;
}

.fname4 {
    position: absolute;
    width: 148px;
    height: 16px;
    left: 606.29px;
    top: 273px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

#name4 {
    position: absolute;
    width: 317.57px;
    height: 35.68px;
    left: 606px;
    top: 294.3px;
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    box-sizing: border-box;
    border-radius: 7px;
}

.fname5 {
    position: absolute;
    width: 148px;
    height: 16px;
    left: 76.13px;
    top: 359px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

#name5 {
    position: absolute;
    width: 317.57px;
    height: 35.68px;
    left: 76px;
    top: 380.3px;
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    box-sizing: border-box;
    border-radius: 7px;
}

.fname6 {
    position: absolute;
    width: 148px;
    height: 16px;
    left: 606.29px;
    top: 359px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

#name6 {
    position: absolute;
    width: 317.57px;
    height: 35.68px;
    left: 606px;
    top: 380.3px;
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    box-sizing: border-box;
    border-radius: 7px;
}

.fname7 {
    position: absolute;
    width: 148px;
    height: 16px;
    left: 76.18px;
    top: 445px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

#name7 {
    position: absolute;
    width: 317.57px;
    height: 35.68px;
    left: 76px;
    top: 466.3px;
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    box-sizing: border-box;
    border-radius: 7px;
}

.fname8 {
    position: absolute;
    width: 148px;
    height: 16px;
    left: 606.29px;
    top: 445px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

#name8 {
    position: absolute;
    width: 317.57px;
    height: 35.68px;
    left: 606px;
    top: 466.3px;
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    box-sizing: border-box;
    border-radius: 7px;
}

.fname9 {
    position: absolute;
    width: 148px;
    height: 16px;
    left: 76.18px;
    top: 531px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;

}

#name9 {
    position: absolute;
    width: 317.57px;
    height: 35.68px;
    left: 76px;
    top: 552.3px;
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    box-sizing: border-box;
    border-radius: 7px;
}

.fname10 {
    position: absolute;
    width: 148px;
    height: 16px;
    left: 606.29px;
    top: 531px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

#name10 {
    position: absolute;
    width: 317.57px;
    height: 35.68px;
    left: 606px;
    top: 552.3px;
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    box-sizing: border-box;
    border-radius: 7px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 22px;
    position: absolute;
    width: 192px;
    height: 35px;
    left: 726px;
    top: 617px;
    background: #3C64B1;
    border-radius: 7px;
}

#text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;

}

.chatbot {
    position: absolute;
    width: 81px;
    height: 81px;
    left: 1234px;
    top: 432px;
}