body {
    width: 1440px;
    height: 833px;
    background: #FFFFFF;
}

.dashboard {
    position: absolute;
    width: 1000px;
    height: 42px;
    top: 69px;
    /* right: 220px; */
    bottom: 727px;
    left: 220px;
    right: 220px;
    background: #F5FCFF;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash1 {
    position: absolute;
    width: 82px;
    height: 18px;
    left: 11px;
    top: -13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #3C64B1;
}

.dash2 {
    position: absolute;
    width: 172px;
    height: 18px;
    left: 93px;
    top: -12px;
    font-family: Roboto !important;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
}

.container1 {
    position: absolute;
    width: 1000px;
    height: 644px;
    left: 220px;
    right: 220;
    top: 120px;
    bottom: 41px;
    /* Light / White */
    background: #FFFFFF;
    /* Light / Divider */
    border: 1px solid #E2E5E6;
    border-radius: 8px;
}

.approve {
    position: absolute;
    width: 290px;
    height: 18px;
    left: 355px;
    top: 47px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
}

.details {
    position: absolute;
    width: 909px;
    height: 167px;
    left: 46px;
    top: 104px;
    background: rgba(244, 245, 249, 0.78);
    border: 1px solid #C2C9CB;
    border-radius: 7px;
}

.info1 {
    position: absolute;
    width: 187px;
    height: 18px;
    left: 28px;
    top: 32px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;

}

.info2 {
    position: absolute;
    width: 160px;
    height: 18px;
    left: 540px;
    top: 33px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.info3 {
    position: absolute;
    width: 161px;
    height: 18px;
    left: 28px;
    top: 73px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.info4 {
    position: absolute;
    width: 153px;
    height: 18px;
    left: 540px;
    top: 73px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.info5 {
    position: absolute;
    width: 182px;
    height: 18px;
    left: 28px;
    top: 107px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.info6 {
    position: absolute;
    width: 202px;
    height: 18px;
    left: 540px;
    top: 107px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.agreement {
    position: absolute;
    width: 909px;
    height: 204px;
    left: 46px;
    top: 287px;
    background: rgba(249, 251, 255, 0.78);
    border: 1px solid #C2C9CB;
    border-radius: 7px;
}

#pdf {
    position: absolute;
    width: 29.28px;
    height: 32px;
    left: 831px;
    top: 19px;
}

#word {
    position: absolute;
    width: 29.28px;
    height: 32px;
    left: 864.85px;
    top: 19px;
}

.loan {
    position: absolute;
    width: 182px;
    height: 18px;
    left: 21px;
    top: 43px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.para {
    position: absolute;
    width: 828px;
    height: 96px;
    left: 58px;
    top: 83px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 22px;
    border-style: none;
    position: absolute;
    width: 328px;
    height: 40px;
    left: 632px;
    top: 525px;
    background: #3C64B1;
    border-radius: 7px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.warning {
    position: absolute;
    top: 35.19px;
    left: 1196.19px;
}

#text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.chatbot {
    position: absolute;
    width: 81px;
    height: 81px;
    left: 1234px;
    top: 432px;
}