body {
    position: relative;
    width: 1440px;
    height: 880px;
    background: #F5F5F5;
}

.p1 {
    position: absolute;
    width: 192px;
    height: 18px;
    left: 624px;
    top: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 18px;
    /* identical to box height, or 75% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.dashboard {
    position: absolute;
    width: 1000px;
    height: 42px;
    left: 220px;
    top: 68px;
    background: #F5FCFF;
    border-radius: 7px;
}

.db1 {
    position: absolute;
    width: 82px;
    height: 18px;
    left: 12px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #3C64B1;
}

.db2 {
    position: absolute;
    width: 112px;
    height: 18px;
    left: 93px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #3C64B1;
}

.db3 {
    position: absolute;
    width: 186px;
    height: 18px;
    left: 208px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.container {
    position: absolute;
    width: 1000px;
    height: 692px;
    left: 220px;
    top: 121px;
    /* Light / White */
    background: #FFFFFF;
    /* Light / Divider */
    border: 1px solid #E2E5E6;
    border-radius: 8px;
}

.block1 {
    position: absolute;
    width: 505px;
    height: 129px;
    left: 32px;
    top: 25px;
    background: #FFFFFF;
    box-shadow: 0px 1.32618px 5.30472px rgba(0, 0, 0, 0.25);
    border-radius: 10.6094px;
}

.img1 {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 19px;
    top: 20px;
}

.b1-text1 {
    position: absolute;
    width: 318px;
    height: 24px;
    left: 107px;
    top: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 99% */
    display: flex;
    align-items: center;
    letter-spacing: 0.265236px;
    color: #202123;
}

.b1-text2 {
    position: absolute;
    width: 251px;
    height: 28px;
    left: 107px;
    top: 65px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15.9142px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: 0.265236px;
    color: #000000;
}

.block2 {
    position: absolute;
    height: 110px;
    width: 505px;
    left: 37px;
    top: 188px;
    background: #FFFFFF;
    box-shadow: 0px 1.32618px 5.30472px rgba(0, 0, 0, 0.25);
    border-radius: 10.6094px;
}

.img {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 8px;
    top: 6px;
}

.b-text1 {
    position: absolute;
    width: 318px;
    height: 24px;
    left: 102px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 99% */
    display: flex;
    align-items: center;
    letter-spacing: 0.265236px;
    color: #202123;
}

#radio1 {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 102px;
    top: 78px;
    /* Light / White */
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    box-sizing: border-box;
    border-radius: 50px;
}

.b-text2 {
    position: absolute;
    width: 133px;
    height: 24px;
    left: 136px;
    top: 67px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 199% */
    display: flex;
    align-items: center;
    letter-spacing: 0.265236px;
    color: #202123;
}

.block3 {
    position: absolute;
    height: 110px;
    width: 505px;
    left: 37px;
    top: 331px;
    background: #FFFFFF;
    box-shadow: 0px 1.32618px 5.30472px rgba(0, 0, 0, 0.25);
    border-radius: 10.6094px;
}

.block4 {
    position: absolute;
    height: 110px;
    width: 505px;
    left: 37px;
    top: 474px;
    background: #FFFFFF;
    box-shadow: 0px 1.32618px 5.30472px rgba(0, 0, 0, 0.25);
    border-radius: 10.6094px;
}

.btn-up1 {
    position: absolute;
    width: 74px;
    height: 42px;
    left: 706px;
    top: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 21px;
    background: #E2E5E6;
    border-radius: 7px;
    border-style: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.btn-up2 {
    position: absolute;
    width: 133px;
    height: 42px;
    left: 799px;
    top: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 21px;
    background: #462779;
    border-radius: 7px;
    border-style: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.img2 {
    position: absolute;
    height: 193px;
    width: 206.19px;
    left: 691px;
    top: 146px;
}

.para1 {
    position: absolute;
    width: 256px;
    height: 24px;
    left: 666px;
    top: 362px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15.9142px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.265236px;
    color: #000000;
}

.para2 {
    position: absolute;
    width: 129px;
    height: 24px;
    left: 730px;
    top: 392px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15.9142px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.265236px;
    color: #000000;
}

.para {
    position: absolute;
    width: 282px;
    height: 76px;
    left: 653px;
    top: 426px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    text-align: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.btn-down1 {
    position: absolute;
    width: 74px;
    height: 42px;
    left: 706px;
    top: 551px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 21px;
    background: #E2E5E6;
    border-radius: 7px;
    border-style: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.btn-down2 {
    position: absolute;
    width: 133px;
    height: 42px;
    left: 799px;
    top: 551px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 21px;
    background: #462779;
    border-radius: 7px;
    border-style: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.p5 {
    position: absolute;
    height: 18px;
    width: 70px;
    left: 1241px;
    top: 402px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.chatb {
    position: absolute;
    width: 81px;
    height: 81px;
    left: 1234px;
    top: 439px;
}