body {
    width: 1440px;
    height: 688px;
    background: #FFFFFF;
}

.pf {
    position: absolute;
    width: 296px;
    height: 18px;
    left: 575px;
    top: 34px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.dashboard {
    position: absolute;
    width: 1000px;
    height: 42px;
    top: 69px;
    /* right: 220px; */
    bottom: 727px;
    left: 220px;
    right: 220px;
    background: #F5FCFF;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash1 {
    position: absolute;
    width: 82px;
    height: 18px;
    left: 11px;
    top: -13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #3C64B1;
}

.dash2 {
    position: absolute;
    width: 172px;
    height: 18px;
    left: 93px;
    top: -12px;
    font-family: Roboto !important;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
}

.container1 {
    position: absolute;
    width: 1000px;
    height: 489.04px;
    left: 220px;
    right: 220;
    top: 120px;
    bottom: 41px;
    /* Light / White */
    background: #FFFFFF;
    /* Light / Divider */
    border: 1px solid #E2E5E6;
    border-radius: 8px;
}

.step1 {
    position: absolute;
    width: 208.29px;
    height: 20px;
    left: 30.86px;
    top: 7px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #3D4EAC;
}

.para1 {
    position: absolute;
    top: 25px;
    left: 30.86px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #3D4EAC;
}

.step2 {
    position: absolute;
    width: 208.29px;
    height: 20px;
    left: 41.14px;
    top: 7px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #3D4EAC;
}

.para2 {
    position: absolute;
    top: 25px;
    left: 41.14px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #3D4EAC;
}

.step3 {
    position: absolute;
    width: 208.29px;
    height: 20px;
    left: 41.14px;
    top: 7px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #3D4EAC;
}

.para3 {
    position: absolute;
    top: 25px;
    left: 41.14px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #3D4EAC;
}

.mandate {
    position: absolute;
    width: 130.93px;
    height: 16.06px;
    left: 855px;
    top: -5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.star {
    position: absolute;
    width: 8.9px;
    height: 16.06px;
    left: 840px;
    top: 5.97px;
}

.component1 {
    position: absolute;
    width: 289.96px;
    height: 72px;
    left: 77px;
    top: 32px;
}

.component2 {
    position: absolute;
    width: 286.25px;
    height: 72px;
    left: 358.25px;
    top: 32px;
}

.component3 {
    position: absolute;
    width: 289.96px;
    height: 72px;
    left: 638.71px;
    top: 32px;
}

.placeholder {
    position: absolute;
    width: 896.52px;
    height: 33.01px;
    left: 51px;
    top: 112px;
    background: #F8F5F5;
}

#msg {
    position: absolute;
    width: 287px;
    height: 16px;
    left: 305px;
    top: -5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

#name1 {
    position: absolute;
    width: 317.57px;
    height: 35.68px;
    left: 75.83px;
    top: 179.3px;
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 7px 8px;
    outline: none;
    font-size: 16px;
    border: 1px solid #8FAAEE;
    border-radius: 7px;
}

.star1 {
    position: absolute;
    width: 6.24px;
    height: 16.06px;
    left: 124px;
    top: -5px;
}

.company {
    position: absolute;
    width: 148px;
    height: 16px;
    left: 76px;
    top: 148px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    font-size: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;

}

#name2 {
    position: absolute;
    width: 317.57px;
    height: 35.68px;
    left: 605.71px;
    top: 179.3px;
    padding: 7px 8px;
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    box-sizing: border-box;
    border-radius: 7px;
}

.star2 {
    position: absolute;
    width: 6.24px;
    height: 16.06px;
    left: 57px;
    top: -5px;
}


.address {
    position: absolute;
    width: 74px;
    height: 16px;
    left: 606px;
    top: 148px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

#name3 {
    position: absolute;
    width: 317.57px;
    height: 35.68px;
    left: 75.83px;
    top: 271.19px;
    padding: 7px 8px;
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    box-sizing: border-box;
    border-radius: 7px;
}

.star3 {
    position: absolute;
    width: 6.24px;
    height: 16.06px;
    left: 32.83px;
    top: -7px;
}

.gst {
    position: absolute;
    width: 40px;
    height: 16px;
    left: 76px;
    top: 240px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

#name4 {
    position: absolute;
    width: 317.57px;
    height: 35.68px;
    left: 605.71px;
    top: 271.19px;
    padding: 7px 8px;
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    box-sizing: border-box;
    border-radius: 7px;
}

.star4 {
    position: absolute;
    width: 6.24px;
    height: 16.06px;
    left: 29.15px;
    top: -7px;
}

.cin {
    position: absolute;
    width: 36px;
    height: 16px;
    left: 606px;
    top: 240px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;

}


.block {
    position: absolute;
    width: 1000px;
    height: 56.2px;
    left: 0px;
    top: 340px;
    background: rgba(248, 247, 247, 0.67);
    /* Light / Divider */
    border: 1px solid #E2E5E6;
    border-radius: 0px;
}

.btn1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    color: #FFFFFF;
    position: absolute;
    width: 106.16px;
    height: 32px;
    left: 699.37px;
    top: 14.27px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    background: #B2B1BD;
    border-radius: 4px;
}

.btn2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    color: #FFFFFF;
    position: absolute;
    width: 106.16px;
    height: 32px;
    left: 818.91px;
    top: 14.27px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    background: #7572F7;
    border-radius: 4px;
}

.instructions {
    position: absolute;
    width: 892.95px;
    height: 81.18px;
    left: 53.52px;
    top: 399.64px;

    font-family: Roboto;
    font-style: normal;
    /* font-weight: bold; */
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    /* 
    display: flex;
    align-items: center; */
    letter-spacing: 0.2px;

    color: #000000;
}

.warning {
    position: absolute;
    top: 35.19px;
    left: 1196.19px;
}

#text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.chatbot {
    position: absolute;
    width: 81px;
    height: 81px;
    left: 1234px;
    top: 432px;
}