body {
    width: 1440px;
    height: 833px;
    background: #FFFFFF;
}

.dashboard {
    position: absolute;
    width: 1000px;
    height: 42px;
    top: 69px;
    /* right: 220px; */
    bottom: 727px;
    left: 220px;
    right: 220px;
    background: #F5FCFF;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash1 {
    position: absolute;
    width: 82px;
    height: 18px;
    left: 11px;
    top: -13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #3C64B1;
}

.dash2 {
    position: absolute;
    width: 172px;
    height: 18px;
    left: 93px;
    top: -12px;
    font-family: Roboto !important;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
}

.container1 {
    position: absolute;
    width: 1000px;
    height: 644px;
    left: 220px;
    right: 220;
    top: 120px;
    bottom: 41px;
    /* Light / White */
    background: #FFFFFF;
    /* Light / Divider */
    border: 1px solid #E2E5E6;
    border-radius: 8px;
}

.approve {
    position: absolute;
    width: 290px;
    height: 18px;
    left: 355px;
    top: 47px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
}

img {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 650px;
    top: 30px;
}

.para {
    position: absolute;
    width: 957px;
    height: 122px;
    left: 22px;
    top: 116px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #000000;
}

h3 {
    position: absolute;
    width: 411px;
    height: 18px;
    left: 27px;
    top: 210px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

#p1 {
    position: absolute;
    width: 169px;
    height: 18px;
    left: 44px;
    top: 286px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

#p2 {
    position: absolute;
    width: 156px;
    height: 18px;
    left: 261px;
    top: 286px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

#p3 {
    position: absolute;
    width: 161px;
    height: 18px;
    left: 471px;
    top: 286px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.sub-container {
    position: absolute;
    width: 909px;
    height: 207px;
    left: 44px;
    top: 352px;
    background: #F3F1F1;
    border: 1px solid #E2E5E6;
    border-radius: 8px;
}

.input1 {
    position: absolute;
    width: 160.19px;
    height: 18px;
    left: 55.22px;
    top: 27px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.input-box1 {
    position: absolute;
    width: 345.63px;
    height: 40px;
    left: 55.22px;
    top: 46px;
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    box-sizing: border-box;
    border-radius: 7px;
}

.form-upload1 {
    position: absolute;
    width: 127.18px;
    height: 18px;
    left: 438.72px;
    top: 27px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.upload1 {
    position: absolute;
    width: 345.63px;
    height: 40px;
    left: 438px;
    top: 46px;
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    box-sizing: border-box;
    border-radius: 7px;
}

.input {
    position: absolute;
    width: 160.19px;
    height: 18px;
    left: 55.22px;
    top: 109px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.input-box {
    position: absolute;
    width: 332.9px;
    height: 40px;
    left: 55.22px;
    top: 128px;
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    border-radius: 7px;
}

.form-upload {
    position: absolute;
    width: 127.18px;
    height: 18px;
    left: 438.72px;
    top: 109px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.upload {
    position: absolute;
    width: 345.63px;
    height: 40px;
    left: 438.72px;
    top: 128px;
    background: #FFFFFF;
    border: 1px solid #8FAAEE;
    box-sizing: border-box;
    border-radius: 7px;
}

#plus-circle {
    position: absolute;
    left: 800.91px;
    top: 134px;
}

h6 {
    position: absolute;
    width: 78.64px;
    height: 18px;
    left: 833.86px;
    top: 105px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #5782D3;
}

.warning {
    position: absolute;
    top: 35.19px;
    left: 1196.19px;
}

#text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.chatbot {
    position: absolute;
    width: 81px;
    height: 81px;
    left: 1234px;
    top: 432px;
}